.calc {
    width: 200px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

.btn {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    margin: 5px 3px;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: gainsboro;
}

.result-block {
    box-sizing: border-box;
    width: 95%;
    height: 40px;
    margin: 15px 3px 8px;
    padding: 10px 5px;
    border: 1px solid grey;
    border-radius: 4px;
}